<form action="#" th:action="@{/adduser}" th:object="${userDto}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <label for="userName">Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="UserName">
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
    <label for="userEmail">Email</label>
    <input type="text" th:field="*{userEmail}" id="userEmail" placeholder="UserEmail">
    <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></span>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label for="createTime">CreateTime</label>
    <input type="Timestamp" th:field="*{createTime}" id="createTime" placeholder="createTime">
    <span th:if="${#fields.hasErrors('createTime')}" th:errors="*{createTime}"></span>
    <label for="userRole">UserRole</label>
    <input type="text" th:field="*{userRole}" id="userRole" placeholder="userRole">
    <span th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}"></span>
    <input type="submit" value="Add User">
</form>