<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>List OF autos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="container text-center">
    <div><h1>Autos List</h1></div>
    <div>
        <table class="table table-bordered">
            <thread class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Carrying Capacity</th>
                    <th>Max Weight With Cargo Kg</th>
                    <th>Max Volume</th>
                    <th>Technical Inspection</th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="autoDto : ${autoDtos}">
                <tr>
                    <td>[[${autoDto.autoId}]]</td>
                    <td>[[${autoDto.number}]]</td>
                    <td>[[${autoDto.carryingCapacity}]]</td>
                    <td>[[${autoDto.maxWeightWithCargoKg}]]</td>
                    <td>[[${autoDto.technicalInspection}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
