<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Create New Driver</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.c}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Create New Driver</h1></div>
    <form th:action="@{/driver/save}" th:object="${driverDto}" method="post"
          style="max-width: 600px;margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Driver Id:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{driverId}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Driver Name:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{driverName}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Driver Second Name:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{driverSecondName}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
