<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>List OF Drivers</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="container text-center">
    <div><h1>Drivers List</h1></div>
    <div>
        <table class="table table-bordered">
            <thread class="thead-dark">
                <tr>
                    <th>Driver Id</th>
                    <th>Driver Name</th>
                    <th>Driver Second Name</th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="driverDto : ${driverDtos}">
                <tr>
                    <td>[[${driverDto.driverId}]]</td>
                    <td>[[${driverDto.driverName}]]</td>
                    <td>[[${driverDto.driverSecondName}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
