<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Create New Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.c}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Create New Order</h1></div>
    <form th:action="@{/order/save}" th:object="${order}" method="post"
          style="max-width: 600px;margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Order Id:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{orderId}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Term Of Delivery:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{termOfDelivery}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Weight:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{weight}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Delivery Address</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{deliveryAddress}" class="form-control" required/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Dispatcher:</label>
                <div class="col-sm-8">
                    <select th:field="*{dispatcher}" class="form-control" required>
                        <th:block th:each="dis: ${dispatchers}">
                            <option th:text="${dis.dispatcherName}" th:value="${dis.dispatcherId}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
